/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Header Styles */

#nav li {
     float: left;
     list-style: none;
     margin-left: 20px;
     font-size: 18px;
     font-family: 'Montserrat', sans-serif;
     color: #fff;
}

#nav {
    vertical-align: middle;
    margin-top: 30px;
    float: right;
}

header {
    height: 150px;
    color: #fff;
    background-color: #f4f4f4;
}

header .row {
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

header h1 {
    font-size: 35px;
    font-family: 'Courgette', sans-serif;
}

header h2 {
    font-size: 20px;
    font-family: 'Courgette', sans-serif;
}

/* Homepage Styles */

.homepage-banner {
    text-align:  center;
    margin-top: -150px;
    padding-top: 150px;
    height: 500px;
    background: #f4f4f4 url("../images/inheritance.jpg") no-repeat fixed center;
    color: #fff;
    border-radius: 0;
}

.homepage-banner .btn {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #001fff;
    border-color: #0015ad;
}

.homepage-banner .btn:hover {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #0015ad;
    color: #001fff;
}