/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* Header Styles */

header {
    height: 150px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.37);
}

header .row {
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

header h1 {
    font-size: 35px;
    font-family: 'Courgette', sans-serif;
}

header h2 {
    font-size: 20px;
    font-family: 'Courgette', sans-serif;
}

/* Homepage Styles */

.navbar-nav {
 margin-top: 20px;   
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    transition: ease-in-out, 0.1s;
}

.navbar-nav .nav-item .nav-link:hover {
    font-size: 20px;
}

.fixed-top.scrolled {
  background-color: #ffffff;
  color: #000;
}

.fixed-top.scrolled .nav-link {
  background-color: #ffffff;
  color: #000;
}

.fixed-top.scrolled .nav-link:hover {
  background-color: #ffffff;
  color: #000;
}


/* Homepage Styles */

.homepage-banner {
    text-align:  center;
    padding-top: 215px;
    height: 500px;
    background: #f4f4f4 url("../images/inheritance.jpg") no-repeat fixed center;
    color: #fff;
    border-radius: 0;
}

.homepage-banner .btn {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #001fff;
    border-color: #0015ad;
    transition: color, 1s;
}

.homepage-banner .btn:hover {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #0015ad;
    color: #001fff;
}

/* Mobile Styles */

@media screen and (max-width: 991px) {
    header {
       height: 105px;
    }
    
    header h1 {
        font-size: 20px;
        padding-left: 15px;
    }
    
    .logo {
        max-width: 60%;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
    }
    
    .nav-container {
        max-width: 40%;
        float: right;
    }
    
    .navbar {
        float: right;
    }
    
    header h2 {
        font-size: 14px;
        padding-left: 15px;
    }
    
    .navbar-nav {
        margin-top: 20px;
        float: right;
        text-align: right;
    }
    
    .navbar-toggler {
        background-color: #2f2f2f;
        position: absolute;
        right: 35px;
        top: 13px;
    }
    
    .navbar-collapse {
        background-color: #2f2f2f;
        padding-right: 13px;
        padding-left: 13px;
        position: absolute;
        top: 57px;
        right: 35px;
    }
    .fixed-top.scrolled .nav-link {
      background-color: #2f2f2f;
    }
}