/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* General Styles */

.btn {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #001fff;
    border-color: #0015ad;
    transition: color, 1s;
}

.btn:hover {
    border-radius: 0px;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #0015ad;
    color: #001fff;
}

.nopadmargin {
    padding: 0;
    margin: 0;
}

body {
    background: #f4f4f4 url("../images/bg.jpg") repeat fixed center;
}

section {
    padding-bottom: 20px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #001fff;
    transition: ease-in-out, 0.1s;
}

a:hover {
    text-decoration: none;
    font-size: 18px;
}

.subpage {
    margin-top: 175px;
     text-align: center;
}


/* Header Styles */

header {
    height: 150px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.37);
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #fff;
    text-decoration: none;
}

header .row {
    height: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.site-title {
    font-size: 35px;
    font-family: 'Courgette', sans-serif;
}

.site-subtitle {
    font-size: 20px;
    font-family: 'Courgette', sans-serif;
}

/* Navigation Styles */

.navbar-nav {
     margin-top: 20px;   
}

.navbar-nav .nav-item .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #ffffff;
    transition: ease-in-out, 0.1s;
    line-height: 20px;
}

.navbar-nav .nav-item .nav-link:hover {
    font-size: 20px;
}

.fixed-top.scrolled {
  background-color: #ffffff;
  color: #000;
}

.fixed-top.scrolled .nav-link {
  background-color: #ffffff;
  color: #000;
}

.fixed-top.scrolled a {
  color: #000;
}

.fixed-top.scrolled .nav-link:hover {
  background-color: #ffffff;
  color: #000;
}

/* Footer Styles */

footer {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 0;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    background-color: #001fff;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    line-height: 50px;
    color: #ffffff;
    border: 2px solid #001fff;
}

footer ul li:hover {
    color: #001fff;
    background-color: #ffffff;
}

/* Homepage Styles */

.homepage-banner {
    text-align:  center;
    padding-top: 215px;
    height: 500px;
    background: #f4f4f4 url("../images/homepage_banner.jpg") no-repeat fixed center;
    color: #fff;
    border-radius: 0;
}

.homepagebox-left {
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
}

.homepagebox-right {
    border: 1px solid black;
    padding: 15px;
    background-color: #ffffff;
    text-align: center;
    -webkit-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    margin-bottom: 19px;
}

.homepagebox-right img {
    max-width: 75%;
}

.homepagebox-left img {
    padding-bottom: 10px;
}

/* Character Page Styles */

.charbox {
    border: 1px solid #000000;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 31%;
    background-color: #ffffff;
    -webkit-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 8px -2px rgba(0,0,0,0.75);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.charbox img {
    width: 100%;
    padding-bottom: 10px;
}

/* Stories Styles */

.story-box {
    border: 1px solid #000000;
    padding: 15px;
    margin-bottom: 15px;
}


.story-box img {
    float: right;
    padding-left: 20px;
}

/* Contact Styles */

.contactbox {
    text-align: left;
    background-color: #fff;
    border: 1px solid #000;
    padding: 15px;
}

.contactbox button {
    text-align: center;
}


/* Mobile Styles */

@media screen and (max-width: 991px) {
    header {
       height: 105px;
    }
    
    header a {
        color: #fff;
        text-decoration: none;
    }
    
    header a:hover {
        color: #fff;
        text-decoration: none;
    }
    
    .site-title {
        font-size: 20px;
        padding-left: 15px;
    }
    
    .logo {
        max-width: 60%;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
    }
    
    .nav-container {
        max-width: 40%;
        float: right;
    }
    
    .navbar {
        float: right;
    }
    
    .site-subtitle {
        font-size: 14px;
        padding-left: 15px;
    }
    
    .navbar-nav {
        margin-top: 20px;
        float: right;
        text-align: right;
    }
    
    .navbar-toggler {
        background-color: #2f2f2f;
        position: absolute;
        right: 35px;
        top: 5px;
    }
    
    .navbar-collapse {
        background-color: #2f2f2f;
        padding-right: 13px;
        padding-left: 13px;
        position: absolute;
        top: 57px;
        right: 35px;
    }
    
    .fixed-top.scrolled .nav-link {
      background-color: #2f2f2f;
      color: #ffffff;
    }
    
    .fixed-top.scrolled a {
      color: #000;
    }
    
    .fixed-top.scrolled .nav-link:hover {
      background-color: #2f2f2f;
      color: #ffffff;
    }
    
    .subpage {
        max-width: 100%;
        margin-top: 120px;
    }
    
    .charbox {
        max-width: 100%
    }
    
    .charbox img {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .story-box img {
        float: none;
        padding-left: 0px;
        text-align: center;
    }
    
    .story-box p {
        display: inline-block;
    }
}

@media screen and (max-width: 575px) {
    .col-sm-9 {
        padding: 0;
    }
    
    .charbox {
        max-width: 100%
    }
}